<form method="post" action="/user">
    <label for="UserName">User Name: </label>
    <input name="UserName" type="text" />
    <label for="Password">Password: </label>
    <input name="Password" type="password" />
    <label for="Email">Email: </label>
    <input name="Email" type="email" />
</form>