@{ 
    string userName = String.IsNullOrEmpty(ViewBag.UserName) ? "Unknown Person" : ViewBag.UserName;
}
<h5>Hello @userName</h5>
<p>Email: @ViewBag.Email</p>
<p>Member Since: @ViewBag.Date</p>
<a asp-controller="Spa" asp-action="Index">Spa</a>